.conteiner-video{
    margin: 5px;
    float: left;
    width: auto;
}
.centrado{
display: flex;
justify-content: center;
}
.galeria{
    margin: 5px;
    border: 1px solid #000;
    float: left;
    width: 60vh;
}

div.galeria img{
    width: 100%;
    height: auto;
}

div.galeria img:hover{
    box-shadow: rgba(102, 102, 102, 0.6) 3px 4px 20px 3px;  /*AGREGADO (sombra)*/
}

.descripcion{
    padding: 15px;
    text-align: center;
}