.conteiner{
    background-color: #999;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 50%;
    position: relative;
    left: 25%;
}
input[type="text"],input[type="email"],select,textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(70, 70,70);
    border-radius: 10px;
    box-sizing: border-box;
}
input[type="submit"]{
    width: 100%;
    background-color: rgb(50, 80, 110);
    color: #fff;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input:focus{
    background-color:rgb(140, 180, 230) ;
 }
textarea:focus{
    background-color:rgb(140, 180, 230) ;
}
input[type="submit"]:hover{
   background-color:rgb(75, 120, 164);
}